page-home {

}

ion-avatar{
  margin: 4px;
}

ion-card-header{
  padding-left: 2px !important;
  padding-top: 2px !important;
}

ion-card-content{
  padding-left: 2px !important;
  padding-top: 2px !important;
}
